<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro</h1>
    <hr>
    <form action="{% url "salvar" %}" method="post">
        {% csrf_token %}
        <label for="">Nome</label>
        <input type="text" name="descricao"><br>
        <label for="">Preço</label>
        <input type="text" name="preco"><br>
        <input type="submit" value="ENVIAR">
    </form>
</body>
</html>